/*@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');*/
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc800;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #A37507;
    --bs-secondary: #000;
    --bs-success: #fff;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc800;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-body-font-size: 1rem;
    --bs-title-font-size: 60px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #A37507;
    --bs-link-color: #A37507;
    --bs-link-hover-color: #A37507;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }
body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    /*font-family: 'Be Vietnam Pro', sans-serif;*/
    color: var(--bs-secondary);
}
a {
    color: var(--bs-link-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--bs-link-hover-color);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Arial', serif;
  }
  p {
    font-family: 'Arial', sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .text-primary {
    color: var(--bs-link-color) !important;
  }
.mt-10{
    margin-top: 80px !important;
  }
.mt-15{
    margin-top: 120px !important;
  }
.logo{
    width: 35px;
    height: 40px !important;
}
.navbar-bg{
    background: transparent;
    backdrop-filter: blur(10px);
    height: 80px;
}
.navbar-bg-page{
    background: #212529 !important;
    height: 80px;
}
.navbar-text a{
  color: var(--bs-white) !important;
}
.hero-title h2{
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px;
    text-transform: uppercase;
}
.leaf-item{
    width: 1000px;
    height: 250px;
}
.leaf-single-item img{
    width: 125px;
}
.leaf-single-item-center img{
    width: 230px;
}
.fixed-headline{
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}
.fixed-headline h2 {
text-align: center;
font-size: 72px;
font-style: normal;
font-weight: 500;
line-height: 86px;
text-transform: uppercase;
}
.sticky-top-title {
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    z-index: 1020;
}
.about-content img{
  position: relative;
  z-index: 1022;
}
/* style hero section */

  /* #mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  } */
  /* #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-weight: 700;
  }
  #mainNav .navbar-brand {
    color: #ffc800;
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 1.5rem;
  } */
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffc800;
  }

  @media (min-width: 992px) {
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
      height: 2rem;
    }
    #mainNav .navbar-nav .nav-item {
      padding: 18px;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
  }
  /*header.masthead {*/
  /*  padding-top: 28rem;*/
  /*    padding-bottom: 6rem;*/
  /*  color: #fff;*/
  /*  background-image: url("../images/hero-image.jpg");*/
  /*  background-repeat: no-repeat;*/
  /*  background-attachment: scroll;*/
  /*  background-position: center center;*/
  /*  background-size: cover;*/
  /*}*/
  .masthead-heading{
    width: 610px;
  }
  .masthead-subheading{
    width: 410px;
  }
  header.masthead .masthead-subheading p {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    text-align: start;
  }
  header.masthead .masthead-heading h2{
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px;
    text-transform: uppercase;
    text-align: start;
  }
  header.masthead .carousel-inner .carousel-item > img {
    -webkit-animation: zoom-image 20s infinite;
    -o-animation: zoom-image 20s infinite;
    animation: zoom-image 20s infinite; 
  }
  @keyframes zoom-image {
    from {
       transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }
  
  @media (min-width: 768px) {
    /*header.masthead {*/
    /*  padding-top: 28rem;*/
    /*  padding-bottom: 6rem;*/
    /*}*/
    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 1.5rem;
    }
  }

  /* Our unique approach  */
  .our-approach-section{
    margin: 120px 0px;
  }
  .approach-title h2{
    color: var(--bs-secondary);
    font-size: 26px;
    font-weight: 400;
    line-height: 40.889px;
    text-transform: capitalize;
  }
  .approach-auto-slide p{
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 25px 50px;
    width: 540px;
  }
  /* .carousel-indicators-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  } */

  .custom-indicators{
    position: unset;
    right: 0;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: unset;
    margin-bottom: -1rem;
    margin-left: unset;
  }
  .carousel-indicators [data-bs-target]{
    width: 440px;
    text-align: center;
    color: #A37507;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: unset;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-right: unset;
    margin-top: -100px;
    margin-left: unset;
    text-indent: unset;
  }
  .inicator-section{
    margin-top: 80px;
  }

 /* Our Project Section  */
 .our-project-section{
    margin-bottom: 120px;
 }
  .our-project-section .title{
    color: var(--bs-secondary);
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }
  .our-project-section .nav-link{
    border: 1px solid #575757;
    background: transparent;
    display: flex;
    width: 240px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px;
  }
  .our-project-section .nav-link{
    color: #575757;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }
  .our-project-section .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-primary);
    background-color: transparent;
    border: 1px solid var(--bs-border-color);
}
.arrow-icon{
  margin-left: -70px;
}
.arrow-icon-2{
  margin-left: 0px !important;
  padding-left: 120px;
}
.project-details{
  margin: 80px;
}
.project-details-2{
  margin: 80px 145px 80px 20px !important;
}
.project-details h2{
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.project-details p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.arrow-icon i {
  font-size: 30px;
  color: var(--bs-primary);
  border: 1px solid var(--bs-border-color);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 65px;
  rotate: 45deg;
}
.arrow-icon i:hover {
  font-size: 30px;
  color: var(--bs-light);
  background: var(--bs-primary);
  outline: 1px solid var(--bs-primary);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 65px;
  rotate: 45deg;
  outline-offset: 3px;
}
/* Land Owner Section  */
.landowner-section{
  padding: 0px 0px 60px 0px;
  background: #F7F7F7;
}
.landowner-section .card{
  background: transparent;
  border: 0px solid;
}
.landowner-section img{
  position: relative;
  z-index: 1022;
  margin-top: -230px;
}
.sticky-top-landowner {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  z-index: 1020;
}
.overlay-custom-text{
  margin-top: 120px;
}
.overlay-custom-text h2{
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
  text-transform: capitalize;
}
.overlay-custom-text p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.overlay-custom-text a{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--bs-success);
  cursor: pointer;
  z-index: 1053;
  position: relative;
}
/* key-point-section Section  */
.key-point-section{
  background: #F7F7F7;
  padding: 120px 0px;
}
.key-point-section .title{
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
  width: 520px;
}
.key-point-section .subtitle{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.single-key-point{
  background: var(--bs-success);
  border-radius: 5px;
  padding: 20px ;
  display: block;
  width: 100%;
  height: 330px;
  position: relative;
}
.single-key-point h2{
  margin-top: 200px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#keyPoint .box{
  position: relative;
}
#keyPoint .text{
  color: var(--bs-success);
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  width: 100%;
  padding: 20px;
}
#keyPoint .overlay{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 0;
  transition: 0.5s ease;
  overflow: hidden;
  background: #A37507;
}
#keyPoint .box:hover .overlay{
  height: 100%;
  background: #A37507;
  color: var(--bs-success);
  display: block;
  border-radius: 5px;
}

/* gallery-section style */
.gallery-section{
  background: #F7F7F7;
  padding: 60px 0px;
}
.gallery-overly-image img{
  width: 212px;
  height: 250px;
}
.gallery-overly-image{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1022;
}
/* contact-section style */
.contact-section{
  padding: 120px 0px;
  background: #fff;
}
.contact-section h2{
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 75px;
}
.contact-section p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form-control {
  border: none !important;
  border-bottom: 1px solid #000 !important;
  outline: none;
  border-radius: 0px !important;
  background: transparent !important;
}
.form-control:focus {
  box-shadow: 0 0 0 0px #a374071c;
  border-bottom: 1px solid #a3740757;
}
.submit-button{
  display: flex;
  width: 240px;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 2px solid #A37507;
  color: var(--bs-primary);
    background: var(--bs-body-bg);
  margin-top: 50px;
}
.submit-button:hover{
  display: flex;
  width: 240px;
  height: 52px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 2px solid #A37507;
  background: var(--bs-primary);
  color: #fff;
}
.contact-section select{
  width: 100%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid #000;
  background: transparent !important;
}
.contact-section select:focus{
  width: 100%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid #000;
}
.about-contact-section select{
  width: 100%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid #000;
  background: transparent !important;
}
.about-contact-section select:focus{
  width: 100%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid #000;
}
.address{
  padding: 20px 50px;
  width: 430px;
  border-left: 1px solid #00000055;
}
.address h2{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.address p{
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
}
.address i{
  color: var(--bs-primary);
  margin-right: 15px;
}
.icon-address{
  margin-bottom: 20px;
  float: left;
  width: 20px;
  padding-top: 15px;
}
/* footer-section style */
.footer-section{
  padding: 80px 0px;
}
.footer-logo img{
  width: 170px;
}
.footer-section .list-group-item{
  background: transparent;
  border: 0px solid;
  padding: 5px 7px;
}
.footer-section .list-group-item:hover a{
  background: transparent;
  border-bottom: 1px solid var(--bs-primary);
  color: var(--bs-success);
  padding: 10px 0;
}
.footer-section .list-group-item a{
  color: #848484;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.bottom-to-top{
  text-align: center;
  margin-top: -105px;
}
.bottom-to-top i {
  font-size: 30px;
  color: var(--bs-primary);
  border: 1px solid var(--bs-border-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 33px;
  cursor: pointer;
}
.bottom-to-top i:hover {
  font-size: 30px;
  color: var(--bs-light);
  background: var(--bs-primary);
  outline: 1px solid var(--bs-primary);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 33px;
  outline-offset: 3px;
  cursor: pointer;
}
.social-share-icon img{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.copyright p{
  color: #848484;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
/* single page design */
.content-area{
  padding: 64px 0px;
}
.page-title{
  border-left: 15px double var(--bs-primary);
  padding-left: 10px;
  margin-top: 30px;
}
.page-title h2{
  font-weight: 600;
  color: var(--bs-primary);
}
/* Why Us page design */
.why-us-banner h1{
  font-size: 90px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 86px;
  color: #F5CE70;
}
.why-us-banner h3{
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  color: var(--bs-body-bg);
}
.why-us-content{
  height: 700px;
  background: #0000009e;
}
.functional-design-section .sub-title{
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  width: 640px;
  text-align: center;
  margin: 0 auto;
  padding: 80px 0px 50px 0px;
}
.line{
  border-right: 1px solid #A37507;
  height: 200px;
  text-align: center;
  width: 0px;
  margin: 0 auto;
}
.why-us-icon .bottom-icon {
  text-align: center;
  cursor: pointer;
}
.why-us-icon .bottom-icon i {
  font-size: 24px;
  color: var(--bs-primary);
  border: 1px solid var(--bs-border-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px;
}
.single-content img{
  width: 40px;
  height: 40px;
}
.single-content h2{
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  color: #A57605;
  text-transform: uppercase;
}
.functional-content{
  padding: 120px 0px;
}
.color-area-content{
font-size: 20px;
font-weight: 300;
line-height: 30px;
color: var(--bs-black);
}
.functional-logo h1{
width: 400px;
margin: 0 auto;
font-size: 100px;
font-weight: 700;
text-transform: capitalize;
line-height: 102px;
color: var(--bs-black);
}
.functional-logo-full h1{
width: 100%;
margin: 0 auto;
font-size: 100px;
font-weight: 700;
text-transform: capitalize;
line-height: 102px;
color: var(--bs-black);
}
.leaf-section h2{
  font-size: 27px;
  font-weight: 400;
  line-height: 41px;
  color: var(--bs-primary);
  text-align: center;
}
.about-page-contact-section h1{
width: 700px;
font-size: 60px;
font-weight: 600;
line-height: 66px;
text-align: center;
text-transform: uppercase;
margin: 0 auto;
padding: 200px 0 500px 0;
color: var(--bs-body-bg);
}
.content-opacity{
  background: #00000074;
}
.about-contact-section{
  margin-top: -320px;
}
.why-us-leaf-section{
  padding: 120px 0px 50px 0px;
}
.contact-box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 50px 0px 50px;
}
/* About us page design */
.about-summary-section{
  padding: 100px 0;
}
.about-summary-section .sub-title p{
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin-right: 50px;
  text-align: justify;
}
.about-summary-section .sub-title h2{
  font-size: 60px;
  font-weight: 400;
}
.pt-80{
  padding-top: 80px;
}
.board-of-directors-headline{
  padding: 0 0 40px 0;
}
.board-of-directors-headline h1{
font-size: 60px;
font-weight: 500;
line-height: 78px;
color: #A57605;
}
.board-of-directors-headline p{
  font-size: 20px;
  font-weight: 300;
  line-height: 27.28px;
}
.board-of-directors-section{
  padding: 0 0 80px 0;
}
.single-board-of-director{
  padding: 40px 0;
}
.single-board-of-director h2{
font-size: 30px;
font-weight: 700;
line-height: 40px;
}
.single-board-of-director h5{
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  color: #999999;
}
.single-board-of-director p{
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-align: justify;
}
.border-bottom-line{
  border-bottom: 1px solid #D0D0D0;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}

/* Home page Style */
.home-slider .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 200px !important;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: start !important;
}
.home-slider .custom-indicators{
  position: unset;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: unset;
  margin-bottom: -1rem;
  margin-left: unset;
}
.home-slider .carousel-indicators [data-bs-target]{
  width: 80px !important;
  text-align: center;
  color: #A37507;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: unset;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-right: unset;
  margin-top: -100px;
  margin-left: unset;
  text-indent: unset;
}
.home-slider.inicator-section{
  margin-top: 80px;
}
.home-slider-heading  h2{
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;   
}
.home-about-headline h2 {
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  margin-bottom: 50px;
  }
  .home-about-headline p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  }
  .cpy-10{
    padding: 150px 0px 120px 0;
  }
  .cpy-100{
    padding: 150px 0px;
  }
  .our-mission-content h2{
    color: var(--bs-body-bg);
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 100px;    
  }
  .our-mission-content h3{
    color: var(--bs-body-bg);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 40px;
    
  }
  .our-mission-content p{
    color: var(--bs-body-bg);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .our-concerns-section .title {
    color: var(--bs-body-bg);
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 70px;
  }
  .our-concerns-section h2{
    color: var(--bs-body-bg);
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    margin: 50px 0px;
  }
  .our-concerns-section p{
    color: var(--bs-body-bg);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .our-concerns-section a{
    color: var(--bs-link-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
  }
  .our-concerns-section .nav-link{
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    color: #ffffff60;
    text-decoration-line: underline;
    text-align: start;
    padding: 30px 0px;
  }
  .our-concerns-section .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    color: var(--bs-link-color) !important;
    background: transparent;
}

  .recent-highlights-section .title {
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
  }
  .recent-highlights-section .card-img-overlay {
    background: var(--bs-body-bg);
    margin: 100px 100px 100px 0px;
  }
  .recent-highlights-content .card-img-overlay h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    color: var(--bs-black);
  }
  .recent-highlights-content .card-img-overlay p{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 30px 0;
    color: var(--bs-black);
  }
  .recent-highlights-content .card-img-overlay a{
    color: var(--bs-link-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
  }
  .recent-highlights-section .owl-theme .owl-nav [class*=owl-]{
    font-size: 63px !important;

  }
 .recent-highlights-section .owl-theme .owl-nav {
    margin-top: -30px !important;
}
.git-mega-menu {
	position: static;
}
.mega-menu {
	left: 0;
	right: 0;
	width: 100%;
	top: 75px;
}
.mega-menu h4 {
font-size: 16px !important;
font-weight: 500 !important;
line-height: 26px !important;
margin-bottom: 15px;
text-transform: capitalize;
}
.mega-menu ul {
padding: 0px;
margin: 0px;
}
.mega-menu .nav-link {
padding: 8px 0px !important;
}

.mega-menu li {
padding: 0px !important;
}

.mega-menu a {
font-size: 14px !important;
font-weight: 300 !important;
line-height: 26px !important;
text-transform: capitalize;
}
.git-mega-menu:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.btn-outline-white {
    --bs-btn-color: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fff;
    --bs-gradient: none;
}
.git-mega-menu ul li a{
    color: #fff;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 26px !important;
    text-transform: capitalize;
}
.details-page h1{
  font-size: 54px;
  font-weight: 400;
  color: var(--bs-body-bg);
}
.details-page h3{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bs-body-bg);
}
.content-padding{
  padding: 100px 0;
}
.section-content-area h2{
  font-size: 54px;
  font-weight: 400;
  line-height: 60px;
  color: var(--bs-body-bg);
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section-content-area h4{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--bs-body-bg);
  text-transform: uppercase;
}
.section-content-area p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bs-body-bg);
  margin-bottom: 30px;
}
.section-content-area a{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bs-link-color);
}
.width-75{
  width: 75%;
}
.width-25{
  width: 25%;
}